commands: 
  ExtractZip: 
    command: C:\Windows\SysWOW64\WindowsPowerShell\v1.0\powershell.exe Expand-Archive -LiteralPath C:\cfn\ebdata\source_bundle.zip -DestinationPath c:\Deployment -ErrorAction SilentlyContinue
    waitAfterCompletion: 0
  DeployWeb: 
    command: C:\Program Files (x86)\IIS\Microsoft Web Deploy V3\msdeploy.exe -verb:sync -source:iisApp="C:\Deployment\WebApp" -dest:iisApp="Default Web Site/TESTAPP"
    waitAfterCompletion: 60   