files:
  "C:\\certs\\install-cert.ps1":
     content: |
       Remove-Item c:\Deployment -Force -Recurse -ErrorAction SilentlyContinue
       Expand-Archive -LiteralPath C:\cfn\ebdata\source_bundle.zip -DestinationPath c:\Deployment -ErrorAction SilentlyContinue     

       Import-Module WebAdministration
       $appPoolName = 'EngageCxQM'
       $WebSiteName='Engage'
       $WebAppName='Default Web Site'
       $AppFolder='C:\inetpub\wwwroot'

       if (Test-Path "IIS:\Sites\$WebAppName\$WebSiteName") 
        {            
            Copy-Item C:\Deployment\WebApp\* -Destination $AppFolder\$WebSiteName -Force -Recurse     
            Write-Host 'Website is already Exists'`n            
        }
        else
        {
            #Remove-Item $AppFolder\* -Force -Recurse -ErrorAction SilentlyContinue     
            New-Item -Name 'Engage' -ItemType directory -Path $AppFolder -Force
            New-WebApplication -Name $WebSiteName -Site $WebAppName -PhysicalPath $AppFolder\$WebSiteName -ApplicationPool $appPoolName
            Copy-Item C:\Deployment\WebApp\* -Destination $AppFolder\$WebSiteName -Force -Recurse
        }

container_commands:
  00_install_ssl:
    command: powershell -NoProfile -ExecutionPolicy Bypass -file C:\\certs\\install-cert.ps1
    waitAfterCompletion: 60    