files:
  "C:\\WebStack\\DeployWebApp.ps1":
     content: |
       $user= '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "VPC_USER", "DefaultValue": ""}}`'
       $pwd = '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "VPC_PWD", "DefaultValue": ""}}`'
       $region= '`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "VPC_ENV", "DefaultValue": ""}}`'
       Import-Module WebAdministration
       $appPoolName = 'EngageCxQM'
       $WebSiteName='Engage'
       $WebAppName='Default Web Site'
       $AppFolder='C:\inetpub\wwwroot'
        
        # Creating Local User
        $sysUser=Get-LocalUser -Name $user -ErrorAction SilentlyContinue
        $secpwd=ConvertTo-SecureString $pwd -AsPlainText -Force
        if($sysUser -eq $null)
        {
            New-LocalUser $user -Password $secpwd -FullName "CxEngageUser" -Description "CxEngage account."  
        }

        if (Test-Path "IIS:\AppPools\$appPoolName") 
        {        
            Write-Host 'AppPool is already Exists'`n            
        }else
        {
            New-WebAppPool -Name $appPoolName -Force
            Set-ItemProperty -Path IIS:\AppPools\$appPoolName -name processModel -value @{username=$user; password=$pwd; identitytype=3}
            Write-Host 'New Application Pool is Created'`n
        }


        if (Test-Path "IIS:\Sites\$WebAppName\$WebSiteName") 
        {            
            Copy-Item C:\Deployment\WebApp\* -Destination $AppFolder\$WebSiteName -Force -Recurse     
            Write-Host 'Website is already Exists'`n            
        }
        else
        {
            #Remove-Item $AppFolder\* -Force -Recurse -ErrorAction SilentlyContinue     
            New-Item -Name 'Engage' -ItemType directory -Path $AppFolder -Force
            New-WebApplication -Name $WebSiteName -Site $WebAppName -PhysicalPath $AppFolder\$WebSiteName -ApplicationPool $appPoolName
            Copy-Item C:\Deployment\WebApp\* -Destination $AppFolder\$WebSiteName -Force -Recurse
        }
