files:
  "C:\\certs\\install-cert.ps1":
     content: |
       Remove-Item c:\Deployment -Force -Recurse -ErrorAction SilentlyContinue
       Expand-Archive -LiteralPath C:\cfn\ebdata\source_bundle.zip -DestinationPath c:\Deployment -ErrorAction SilentlyContinue

commands:
  00_install_ssl:
    command: powershell -NoProfile -ExecutionPolicy Bypass -file C:\\certs\\install-cert.ps1
    waitAfterCompletion: 60  
services:
  windows:
    ExtractZipFile:
      enabled: true
      ensureRunning: true
      commands: 00_install_ssl
