files:
  "C:\\certs\\install-cert.ps1":
     content: |
       Remove-Item c:\Deployment -Force -Recurse -ErrorAction SilentlyContinue
       Expand-Archive -LiteralPath C:\cfn\ebdata\source_bundle.zip -DestinationPath c:\Deployment -ErrorAction SilentlyContinue
container_commands:
  00_install_ssl:
    command: powershell -NoProfile -ExecutionPolicy Bypass -file C:\\certs\\install-cert.ps1
    waitAfterCompletion: 10
  01_install_EWS: 
    command: C:\\Windows\\Microsoft.NET\\Framework\\v4.0.30319\\installutil -u C:\Deployment\EngageWebService-Build\EnageWebService.exe
    waitAfterCompletion: 60
    ignorErrors: true