files:
  "C:\\certs\\Startup.ps1":
     content: |       
       Expand-Archive -LiteralPath C:\cfn\ebdata\source_bundle.zip -DestinationPath c:\Deployment -ErrorAction SilentlyContinue                      
       Copy-Item C:\Deployment\WebApp\* -Destination C:\inetpub\wwwroot -Force -Recurse       
container_commands:
  00_ExtractZip:
    command: powershell -NoProfile -ExecutionPolicy Bypass -file "C:\\certs\\Startup.ps1"    
    ignoreErrors: true
  01_Install_EnageWebService: 
    command: C:\\Windows\\Microsoft.NET\\Framework\\v4.0.30319\\installutil C:\Deployment\EngageWebService-Build\EnageWebService.exe
    waitAfterCompletion: 60
    ignoreErrors: true

