commands: 
  b-remove-service: 
    command: C:\\Windows\\Microsoft.NET\\Framework\\v4.0.30319\\installutil -u EnageWebService.exe
    cwd: "c:/Deployment/EngageWebService-Build/"
    ignoreErrors: true
    waitAfterCompletion: 11
  d-install-service: 
    command: C:\\Windows\\Microsoft.NET\\Framework\\v4.0.30319\\installutil EnageWebService.exe
    cwd: "c:/Deployment/EngageWebService-Build/"
    waitAfterCompletion: 0
services: 
  windows: 
    InstallService:
    commands: d-install-service
    enabled: true
    ensureRunning: true